<!-- 13 January, 2020
Teresa Costa -->

<div class="master-tasks-dashboard">
    <div class="title-tasks">
        <h1 class="list-title">All Your Tasks</h1>
    </div>

    <div class="list-tasks">
        {{#each task}} 
            <div>
                <p class="task">
                    <form  name="delete-task" action="/tasks/deleteTask/{{this._id}}?_method=DELETE" method="POST">
                        {{this.date}}&nbsp;&nbsp;
                        {{this.time}}&nbsp;&nbsp;
                        {{this.title}}&nbsp;&nbsp;
                        <a class="link-edit" href="/tasks/edit-task/{{this._id}}">Edit</a>&nbsp;&nbsp;  
                        <input class="button-delete" type="submit" value="Delete">
                    </form>
                </p>
            </div>
        {{else}}
            You have no more tasks !!!!
        {{/each}}
    </div>
    
    <div class="link-tasks">
        <a class="link-title" href="/">Back to Dashbord</a>
    </div>

</div>